@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

a{
    text-decoration: none;
    color: unset;
}

li {
    text-decoration: unset;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bodoni Moda', serif;
}

p {
    font-family: 'Montserrat';
}

nav {
    height: 60px;
    width: 100%;
    background: #000;
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

nav img {
    width: 200px;
}

nav ul {
    color: #FFF;
    display: flex;
    gap: 16px;
    align-items: center;
}

nav ul li {
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
height: 40px;display: flex;align-items: center;}

nav ul li:hover {
    border-bottom: 1px solid #FFF;
}

.navbar_redes{
    display: flex;
    gap: 16px;
    color: #FFF;
    padding-left: 16px;
}

.navbar_redes img{
    width: 100%;
    max-height: 20px;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(320deg) brightness(107%) contrast(100%);
}

.botao_primario {
    font-family: 'Bodoni Moda', serif;
    padding: 16px 32px;
    background: #FFF;
    color: #000;
    font-size: 22px;
    border: 1px solid #FFF;
    width: fit-content;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.botao_primario:hover {
    color: #FFF;
    background: #000;
    animation: 5s;
}

.navbar-botao {
    padding: 8px 16px;
    background: #FFF;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}

.navbar-botao:hover {
    color: #FFF;
    background: #000;
    animation: 5s;
    border: 1px solid #FFF;
}

.header {
    display: flex;
    flex-direction: row;

    height: calc(100vh - 60px);
    background: #000;
}

.header .painel_esquerdo {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

.bg-painel {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('./bg.png');
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    opacity: 0.2;
}

.header .painel_esquerdo h1 {
    background: #000;
    font-family: 'Bodoni Moda', serif;
    font-size: 48px;
    font-weight: 400;
    color: #FFF;
    text-align: left;
    text-transform: uppercase;
    padding: 16px;
}

.header .painel_esquerdo p {

    width: 440px;text-align: left;
    color: #FFF;
    font-size: 16px;
    font-weight: 200;
}

.header .painel_esquerdo img {
    width: 100%;
}

.header .infos {
    width: fit-content;
    display: flex;
    flex-direction: column;

    gap: 8px;
    margin: 0 auto;
}

.header .painel_direito {
    display: flex;
    flex: 1;
    background: #FFF;
    width: 100%;
}

.painel_direito .container_imagem {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.bg-infos {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    gap: 90px;
}

.scale-up-center:hover {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }